@import "./_variables.scss";
@import "bootstrap";
@import "./_transitions.scss";
@import "./_utilities.scss";
@import "./_overrides.scss";

:root {
  --grey: #f6f6f6;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $body-bg;
  overflow-x: hidden;
  scroll-behavior: smooth;
  .scrollbar::-webkit-scrollbar {
  display: none;
}
.scrollbar2 {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
}

main {
  flex-grow: 1;
  display: flex;
  align-items: stretch;
}
.text-shadow{
  text-shadow: 1px 1px 0px rgb(255, 255, 255);
}
.text-shadow:hover {
  color: white;
}
